.name {
  padding: 10px;
  position: absolute;
  /* background: rgba(219, 218, 218, 0.4); */
  border-radius: 10px;
  width: 125px;
  height: 125px;
  top: 10px;
  left: 10px;
  display: inline;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
path {
  fill: transparent;
  transform-origin: bottom center;
}
